/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */

article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */

template, /* 1 */
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms
   ========================================================================== */

/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */

button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */

button,
input, /* 1 */
select { /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea { /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */

[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* End */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'lato-webfont', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	font-weight: 400;
	color: #515151;
	background-color: #fff;
}
strong {
	font-weight: 700;
}
p {
	margin-top: 0;
	margin-bottom: 25px;	
}
.container {
	max-width: 1310px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;	
}
/* HEADER */
header {
	background-color: #f1f3ee;	
}
header .logo {
	padding: 15px 35px;
	display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: middle;
}
header .logo img {
	width: auto;
	height: 120px;
	display: block;
}
header .navigation {
	margin: 0;
	padding: 0;
	display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: middle;
}
header .navigation li {
	list-style: none;
	display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: middle;
	font-size: 22px;
	color: #313332;
	text-transform: uppercase;
	padding: 0 30px;
}
header .navigation li a {
	display: inline-block;
	font-size: 22px;
	color: #313332;
	text-transform: uppercase;
	text-decoration: none;
}
header .navigation li a:hover,
header .navigation li a:focus,
header .navigation li a:active {
	text-decoration: none;
}
/* HEADER */
footer {
	background-color: #313332;
	text-align: center;
}
footer .get-in-touch {
	display: inline-block;
	padding: 220px 0 150px 0;
}
footer .get-in-touch h4 {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	margin: 0 0 20px 0;
}
footer .get-in-touch .contact-information {
	margin: 0;
	padding: 0 0 0 32px;
	list-style: none;
	text-align: left;
	position: relative;
}
footer .get-in-touch .contact-information li { 
	list-style: none;
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #ffffff;
	padding: 2px 0;
}
footer .get-in-touch .contact-information:before {
	display: block;
	content: '';
	background: url('../image/address-icon.png') no-repeat left top;
	width: 22px;
	height: 18px;
	background-size: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/* VIDEO SECTION */
#sc-video {
	position: relative;
	z-index: 1000;
	background-color: #ffffff;
}
#sc-video .embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
	padding-bottom: 56.25%;
    overflow: hidden;
}
#sc-video video {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;	
}
/* HEADING SECTION */
#sc-heading {
	position: relative;
	z-index: 999;
	background-color: #ff6c00;	
}
#sc-heading:before {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ff6c00;
    width: 100%;
    height: 100px;
    left: -50%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    top: 100%;
    transform-origin: right bottom;
}
#sc-heading:after {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ff6c00;
    width: 100%;
    height: 100px;
    right: -50%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    top: 100%;
    transform-origin: left bottom;
}
#sc-heading h2 {
	margin: 0 auto;
	padding: 30px 0 0 0;
	font-size: 35px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	max-width: 950px;
}
/* FEATURES SECTION */
#sc-features {
	position: relative;
	z-index: 888;
	background-color: #ffffff;	
}
#sc-features:before {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    left: -50%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    top: 100%;
    transform-origin: right bottom;
}
#sc-features:after {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    right: -50%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    top: 100%;
    transform-origin: left bottom;
}
#sc-features .content-box {
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
	padding: 140px 0 30px 0;
}
#sc-features .content-box h2 {
	font-size: 35px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 40px 0;
}
#sc-features .features-list {
	margin: 0 -10px 40px -10px;
	padding: 0;
	text-align: center;
	font-size: 0;
}
#sc-features .features-list .feature-item {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: middle;
	width: 33.3%;
	text-align: center;
}
#sc-features .features-list .feature-item img {
	display: block;
	width: 128px;
	height: 128px;
	margin: 0 auto;
}
#sc-features .features-list .feature-item h3 {
	font-size: 26px;
	font-weight: 600;
	margin: 15px 0 0 0;
	text-align: center;
	display: block;
}
/* SERVICES SECTION */
#sc-services {
	position: relative;
	z-index: 777;
	background-color: #ffa800;
	color: #ffffff;
}
#sc-services:before {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffa800;
    width: 100%;
    height: 100px;
    left: -50%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    top: 100%;
    transform-origin: right bottom;
}
#sc-services:after {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffa800;
    width: 100%;
    height: 100px;
    right: -50%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    top: 100%;
    transform-origin: left bottom;
}
#sc-services .content-box {
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
	padding: 140px 0 30px 0;
}
#sc-services .content-box h2 {
	font-size: 35px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 40px 0;
}
#sc-services .services-list {
	margin: 0 0 40px 0;
	padding: 0;
	text-align: center;
	font-size: 0;
}
#sc-services .services-list .service-item {
	margin: 0;
	padding: 0 10px;
	list-style: none;
	display: inline-block;
    zoom: 1;
    *display: inline;
	vertical-align: middle;
	width: 307px;
	position: relative;
}
#sc-services .services-list .service-item img {
	display: block;
	width: 287px;
	height: auto;
}
#sc-services .services-list .service-item .item-label {
	background: rgba(35,31,32,0.7);
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	z-index: 10;
	text-align: center;
}
#sc-services .services-list .service-item .item-label span {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	display: block;
	padding: 10px 0;
}
/* ABOUT US SECTION */
#sc-about {
	position: relative;
	z-index: 666;
	background-color: #ffffff;	
}
#sc-about:before {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    left: -50%;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
    top: 100%;
    transform-origin: right bottom;
}
#sc-about:after {
	display: block;
    content: '';
    position: absolute;
    z-index: -999;
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    right: -50%;
    -webkit-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
    top: 100%;
    transform-origin: left bottom;
}
#sc-about .content-box {
	max-width: 950px;
	margin: 0 auto;
	text-align: center;
	padding: 140px 0 60px 0;
}
#sc-about .content-box h2 {
	font-size: 35px;
	font-weight: 700;
	margin: 0;
	padding: 0 0 40px 0;
}
@media (max-width: 1310px) {
	header .navigation li {
		padding: 0 20px;	
	}
}
@media (max-width: 991px) {
	header .logo {
		display: block;	
	}
	header .logo img {
		margin: 0 auto;
	}
	header .navigation {
		display: block;
		text-align: center;
		padding: 0 0 15px 0;
	}
	header .navigation li {
		padding: 0 15px;
		text-align: center;	
	}
	#sc-video .container {
		padding-left: 0;
		padding-right: 0;	
	}
	#sc-services .services-list {
		margin-left: -10px;
		margin-right: -10px;	
	}
	#sc-services .services-list .service-item {
		width: 33.3%;	
	}
	#sc-services .services-list .service-item img {
		width: 100%;
		height: auto;	
	}
}
@media (max-width: 767px) {
	header .logo img {
		height: 70px;
		width: auto;	
	}
	header .navigation {
		padding: 0 0 15px 0;
	}
	header .navigation li {
		display: block;
		padding: 5px 0;	
	}
	#sc-heading h2 {
		font-size: 26px;	
	}
	#sc-heading:before {
		height: 50px;	
	}
	#sc-heading:after {
		height: 50px;	
	}
	#sc-features:before {
		height: 50px;
	}
	#sc-features:after {
		height: 50px;	
	}
	#sc-features .content-box {
		padding: 90px 0 10px 0;	
	}
	#sc-features .features-list .feature-item {
		width: 100%;	
	}
	#sc-features .features-list .feature-item + .feature-item {
		margin-top: 20px;	
	}
	#sc-services:before {
		height: 50px;	
	}
	#sc-services:after {
		height: 50px;	
	}
	#sc-services .content-box {
		padding: 90px 0 10px 0;	
	}
	#sc-services .services-list .service-item {
		width: 100%;	
	}
	#sc-services .services-list .service-item + .service-item {
		margin-top: 20px;	
	}
	#sc-about:before {
		height: 50px;	
	}
	#sc-about:after {
		height: 50px;	
	}
	#sc-about .content-box {
		padding: 90px 0 10px 0;	
	}
	footer .get-in-touch {
		padding: 150px 0 120px 0;	
	}
}

.bottom-link {
  color: white;
}